<div style="display: flex; justify-content: space-between;">
    <h2 class="title">Seccion de ventas:</h2>
</div>

<div class="table">
  <table>
      <thead>
          <th>ID</th>
          <th>Nombre del producto</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Monto total</th>
          <th>Acciones</th>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="acciones">
                  <button style="background: red; color: white;" mat-flat-button>Descartar</button>
              </td>
          </tr>

          <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="acciones">
                <button style="background: red; color: white;" mat-flat-button>Descartar</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<div class="boton-venta">
    <button mat-flat-button>Realizar compra</button>
</div>