:host {
  display: block;
  padding: 2rem; 
}

.clientes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  .search-field {
    width: 300px;
  }
}

mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
  text-align: left;
}
.entregado {
  color: green;
  font-weight: bold;
}
.pendiente {
  color: orange;
  font-weight: bold;
}
.enviado {
  color: blue;
  font-weight: bold;
}
.cancelado {
  color: red;
  font-weight: bold;
}



