
.hero {
  position: relative;
  height: 400px;
  overflow: hidden;
  color: white;

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 12s infinite;
  }

  .slide:nth-child(1) {
    animation-delay: 0s;
  }

  .slide:nth-child(2) {
    animation-delay: 4s;
  }

  .slide:nth-child(3) {
    animation-delay: 8s;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    padding: 2rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.productos {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 2rem; 
  padding: 2rem;
  background: linear-gradient(to right, #043ba1, #61a5f4);
  color: #fff;
  border-radius: 16px;
  margin: 2rem;

  .texto {
    max-width: 50%;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #fff700;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.6;
    }
  }

  .imagen {
    max-width: 40%;
    img {
      width: 115%; 
      height: auto;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
  }
}
.capacidades {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(to right, #6907f2, #488bea);
  color: #fff;
  border-radius: 16px;
  margin: 2rem;

  .texto {
    max-width: 50%;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #60d470;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.6;
    }
  }

  .imagen {
    max-width: 40%;
    img {
      width: 100%;
      height: auto;
     
     
    }
  }
}

@media (max-width: 768px) {
  .capacidades {
    flex-direction: column;

    .texto, .imagen {
      max-width: 100%;
      text-align: center;
    }

    .imagen {
      margin-top: 1rem;
    }
  }
}

