
<div class="menu">
  <a class="menu-link" routerLink="/admin/clientes" routerLinkActive="active">
    <mat-icon>group</mat-icon>
    <span>clientes</span>
  </a>

  <a class="menu-link" routerLink="/admin/producto" routerLinkActive="active">
    <mat-icon>inventory_2</mat-icon>
    <span>productos</span>
  </a>

  <a class="menu-link" routerLink="/admin/categoria" routerLinkActive="active">
    <mat-icon>category</mat-icon>
    <span>categoria</span>
  </a>

  <div class="spacer"></div>

  <button mat-button color="warn" routerLink="/">
    <mat-icon>logout</mat-icon>
    salir
  </button>
</div>


