<mat-toolbar style="background: rgb(27, 98, 252);">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <span style="color: white;">Venta de gaseosas</span>

  <span class="espacio"></span>
  
  <button  mat-icon-button>
    <mat-icon style="color: white;">logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer opened class="drawer-sidenav" mode="side">
    <mat-nav-list role="">
      @for (item of menuItems; track $index) {
        <mat-list-item routerLink={{item.route}}>
          <mat-icon matListItemIcon style="color: rgb(27, 98, 252)">{{item.icon}}</mat-icon>
          <span>{{item.label}}</span>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>