<div class="login-container">
  <h2>Inicio de sesión - Proveedor</h2>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Usuario</mat-label>
    <input matInput [(ngModel)]="usuario" type="text" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput [(ngModel)]="password" type="password" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()">Ingresar</button>

  <p class="error" *ngIf="error">{{ error }}</p>
</div>
