<h2 mat-dialog-title>Pedidos del Cliente</h2>

<mat-dialog-content>
  <mat-table [dataSource]="pedidos">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let pedido"> {{ pedido.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let pedido"> S/. {{ pedido.total }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
      <mat-cell *matCellDef="let pedido"> {{ pedido.estado }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let pedido"> {{ pedido.fecha | date:'short' }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="cerrar()">Cerrar</button>
</mat-dialog-actions>
