:host {
  display: block;
  padding: 2rem; 
}
.productos-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  gap: 1rem;
  align-items: center;

  .search-field {
    width: 300px;
  }
  .search-field {
    flex: 1 1 300px;
    max-width: 300px;

  }
}

mat-table {
  width: 100%;
  margin-top: 1rem;

  img {
    border-radius: 4px;
    object-fit: cover;
  }
}
